<div class="theme-validation-container">
    <header class="modal-header" data-test-modal="upload-theme">
        <h1>
            {{#if theme}}
                {{#if hasWarningsOrErrors}}
                    Успешно загружено с {{#if validationErrors}}errors{{else}}warnings{{/if}}
                {{else}}
                    Загрузка успешно завершена!
                {{/if}}
            {{else if (or validationErrors fatalValidationErrors)}}
                Недействительная тема
            {{else}}
                Загрузить тему
            {{/if}}
        </h1>
    </header>
    <a class="close" href="#" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

    <div class="modal-body">
        {{#if theme}}
            {{#if hasWarningsOrErrors}}
                <p>
                    {{#if canActivateTheme}}
                        Тема <strong>"{{themeName}}"</strong> была успешно загружена, но мы обнаружили {{#if validationErrors}}errors{{else}}warnings{{/if}}. ВЫ все еще можете активировать и использовать тему, но рекомендуется исправить {{#if validationErrors}}errors{{else}}warnings{{/if}} прежде чем сделать это.
                    {{else}}
                        Тема <strong>"{{themeName}}"</strong> была успешно загружена, но мы обнаружили
                        {{#if validationErrors}}errors{{else}}warnings{{/if}}.
                    {{/if}}
                </p>

                {{#if validationErrors}}
                    <div>
                        <h2 class="mb0 mt4 f5 fw6">Ошибки</h2>
                        <p class="mb2">Настоятельно рекомендуется исправить, функциональность <strong>could</strong> ограничена</p>
                    </div>
                    <ul class="pa0">
                    {{#each validationErrors as |error|}}
                        <li class="theme-validation-item theme-error">
                            {{gh-theme-error-li error=error}}
                        </li>
                    {{/each}}
                    </ul>
                {{/if}}

                {{#if validationWarnings}}
                    <div>
                        <h2 class="mb0 mt4 f5 fw6">Предупреждения</h2>
                    </div>
                    <ul class="pa0">
                    {{#each validationWarnings as |error|}}
                        <li class="theme-validation-item theme-warning">
                            {{gh-theme-error-li error=error}}
                        </li>
                    {{/each}}
                    </ul>
                {{/if}}
            {{else}}
                <p>
                    "{{themeName}}" успешно загружено.
                    {{#if canActivateTheme}}Вы хотите активировать это?{{/if}}
                </p>
            {{/if}}
        {{else if displayOverwriteWarning}}
            <p>
                Эта тема <strong>"{{fileThemeName}}"</strong> уже существует. Вы хотите перезаписать ее?
            </p>
        {{else if (or validationErrors fatalValidationErrors)}}

            <p>
                Эта тема недействительна и не может быть активирована. Исправьте следующие ошибки и повторно загрузите тему.
            </p>

            {{#if fatalValidationErrors}}
                <div>
                    <h2 class="mb0 mt4 f5 fw6">Фатальные ошибки</h2>
                    <p class="mb2">Необходимо исправить чтобы актививровать тему</p>
                </div>

                <ul class="pa0">
                {{#each fatalValidationErrors as |error|}}
                    <li class="theme-validation-item theme-fatal-error">
                        {{gh-theme-error-li error=error}}
                    </li>
                {{/each}}
                </ul>
            {{/if}}

            {{#if validationErrors}}
                <div>
                    <h2 class="mb0 mt4 f5 fw6">Ошибки</h2>
                    <p class="mb2">Настоятельно рекомендуется исправить, функциональность <strong>could</strong> будет приостановлена</p>
                </div>
                <ul class="pa0">
                {{#each validationErrors as |error|}}
                    <li class="theme-validation-item theme-error">
                        {{gh-theme-error-li error=error}}
                    </li>
                {{/each}}
                </ul>
            {{/if}}
        {{else}}
            {{gh-file-uploader
                url=uploadUrl
                paramName="file"
                accept=accept
                labelText="Click to select or drag-and-drop your theme zip file here."
                validate=(action "validateTheme")
                uploadStarted=(action "uploadStarted")
                uploadFinished=(action "uploadFinished")
                uploadSuccess=(action "uploadSuccess")
                uploadFailed=(action "uploadFailed")
                listenTo="themeUploader"}}
        {{/if}}
    </div>
</div>

<div class="modal-footer">
    <div class="flex items-center justify-between {{if (or displayOverwriteWarning canActivateTheme validationErrors fatalValidationErrors) "flex-auto"}}">
        <button {{action "closeModal"}} disabled={{closeDisabled}} class="gh-btn" data-test-close-button>
            <span>{{#if theme}}Close{{else}}Cancel{{/if}}</span>
        </button>
        <div class="flex items-center">
            {{#if displayOverwriteWarning}}
                <button {{action "confirmOverwrite"}} class="gh-btn gh-btn-red" data-test-overwrite-button>
                    <span>Перезаписать</span>
                </button>
            {{/if}}
            {{#if canActivateTheme}}
                <button {{action "activate"}} class="gh-btn" data-test-activate-now-button>
                    <span>Активировать {{#if validationErrors}} с ошибками {{/if}}</span>
                </button>
            {{/if}}
            {{#if (or validationErrors fatalValidationErrors)}}
                <button {{action "reset"}} class="gh-btn gh-btn-blue ml2" data-test-try-again-button>
                    <span>Повторить попытку</span>
                </button>
            {{/if}}
        </div>
    </div>
</div>
